[submodule "all-MiniLM-L6-v2"]
	path = all-MiniLM-L6-v2
	url = https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2
[submodule "bert-base"]
	path = bert-base-uncased
	url = https://huggingface.co/google-bert/bert-base-uncased
